*{
	@include box-sizing(border-box);
}
body{
	color: $text-color
}
.container{
	@include mobile;
}

.underline{
	border-bottom: 3px solid #333;
}
.link{
	color: $link-color;
	text-decoration: none;
}
.samples{
	color: $light-text;
}
.twitter{
	a{
		color: $twitter;
	}
}
.github{
	a{
		color: $github;
	}
}
.linkedin{
	a{
		color: $linkedin;
	}
}
// Effects 


// Effect Helpers
%null-transition{
  transition: none;
}
// Layout 

.social-links{
	@media(min-width:769px){
		@include horizontal-list(10px, left);
		@include float-left;
	}

}

*{
  &:first-child{margin-top: 0;}
  &::selection{
   
  }
  &, &:before, &:after{
    box-sizing: border-box;
    transition: background-color $duration, color 5ms;
  }
}

h2,a,p{
	transition: none;
}